


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #be6119;
  color: #2e3e31;
  font: 15px/1.4 'Josefin Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

*:hover {
  transition: ease-out all 200ms;
}

p {
  margin-bottom: 1rem;
  font-weight: 500;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 2rem);
  max-height: calc(100% - 2rem);
  padding: 1rem;
}

.col {
  padding: 1rem;
}

@media (min-width: 1000px) {
  .col {
    display: inline-block;
    vertical-align: top;
  }

  .col--1-1 {
    width: calc(100%);
  }

  .col--1-2 {
    width: calc(50%);
  }

  .col--2-3 {
    width: calc((100% * 2 / 3));
  }

  .col--1-3 {
    width: calc((100% / 3));
  }

  .col--1-4 {
    width: calc(25%);
  }

  .col--25 {
    width: calc(25%);
  }

  .col--33 {
    width: calc(33%);
  }

  .col--50 {
    width: calc(50%);
  }

  .col--66 {
    width: calc(66%);
  }

  .col--75 {
    width: calc(75%);
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-shadow {
  text-shadow: 0 0 10px #222;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 400;
}

.title--2 {
  font-size: 12px;
  font-weight: 700;
}

.cover {
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.contain {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}

.disable-a-pointer-events a {
  pointer-events: none;
}

.display-only {
  display: none;
}

@media (min-width: 1000px) {
  .mobile-only {
    display: none;
  }

  .display-only {
    display: revert;
  }
}

[disabled] {
  display: none;
}

/* Fix for green bars status rendering  */
.mgnlEditorBarLabelSection {
    display: flex;
    align-items: center;
  }
  
  /* Btn */
  
  .Btn {
    display: inline-block;
    padding: 0.7rem 1.5rem 0.5rem;
    border-radius: 2rem;
    text-transform: uppercase;
    background: #fefcf9;
    color: #2e3e31;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .Btn:hover {
    background: #2e3e31;
    color: #fefcf9;
    text-decoration: none;
    cursor: pointer;
  }
  
  .Btn--large {
    display: block;
    width: 100%;
  }
  
  .Btn__arrow {
    margin-left: 1rem;
    vertical-align: text-top;
    width: 48px;
    height: 13px;
  }
  
  .Btn__arrow--white {
    display: none;
  }
  
  .Btn:hover .Btn__arrow--dark {
    display: none;
  }
  
  .Btn:hover .Btn__arrow--white {
    display: inline-block;
  }
  
  .Btn--2 {
    background: #2e3e31;
    color: #fefcf9;
  }
  
  .Btn--2 .Btn__arrow--white {
    display: inline-block;
  }
  
  .Btn--2 .Btn__arrow--dark {
    display: none;
  }
  
  .Btn--2:hover {
    background: #fefcf9;
    color: #2e3e31;
  }
  
  .Btn--2:hover .Btn__arrow--dark {
    display: inline-block;
  }
  
  .Btn--2:hover .Btn__arrow--white {
    display: none;
  }
  
  .Btn--3 {
    border: 1px solid #a6a6a6;
  }
  
  /* HEADER  */
  
  .Header-wrapper {
    background: #fff;
  }
  
  .Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 1rem;
  }
  
  .Header__logo {
    display: block;
    width: 175px;
    height: 35px;
    z-index: 2;
  }
  
  .Header nav > * {
    display: inline-block;
    margin: 0 17px;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .Header nav > a:hover,
  .Header nav > .active {
    text-decoration: underline;
  }
  
  .Header__search {
    display: inline-flex !important;
    padding: 0 0 0 1rem !important;
    border: 1px solid #ccc;
    border-radius: 2rem;
    overflow: hidden;
  }
  
  .Header__search input {
    border: none;
    font-size: inherit;
    line-height: 2;
  }
  
  .Header__search button {
    border: none;
    padding: 0 1rem 0 0.8rem;
    background: none;
    border-left: 1px solid #ccc;
  }
  
  .Header__search button:hover {
    background: #b9b9b9;
    cursor: pointer;
  }
  
  .Header__search svg {
    width: 1rem;
  }
  
  .Header__mobileNavWrapper {
    position: absolute;
    top: 70px;
    right: 0;
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  
  .Header__mobileNavWrapper > * {
    display: block;
    padding: 0.5rem 1rem;
  }
  
  .Header__categories {
    display: inline-block;
    padding: 0.2rem 1rem;
  }
  
  .Header__subnavWrapper {
    position: absolute;
    display: flex;
    flex-direction: initial;
    width: 100%;
    min-width: 100%;
    border: 0;
    background-color: white;
    left: 0;
    z-index: 2;
    visibility: hidden;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 5%);
  }
  
  .Header__subnavWrapper .Header__subnavInner {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: inherit;
  }
  
  .Header__banner {
    margin: 2rem 1rem;
    background-size: cover;
    text-align: center;
    min-width: 20vh;
    max-width: 50%;
    width: 100%;
  }
  
  .Header__bannerImage {
    min-height: 20vh;
  }
  
  .Header__bannerInner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
  }
  
  .Header__bannerTitle {
    margin-bottom: 2rem;
    font-size: 3rem;
    line-height: 1;
  }
  
  .Header__banner video {
    position: relative;
    width: 100%;
    max-height: 20vh;
    object-fit: cover;
  }
  
  .Header__subnav {
    max-width: 1440px;
    padding: 0.8rem 1rem;
  }
  
  @media (min-width: 1440px) {
    .Header__subnavWrapper {
      width: 100vw;
      margin-left: calc(-100vw / 2 + 1440px / 2);
      margin-right: calc(-100vw / 2 + 1440px / 2);
      align-items: center;
      flex-direction: column;
    }
  
    .Header__subnav {
      padding: 0.8rem 2rem;
    }
  
    .Header__banner {
      margin: 2rem;
    }
  }
  
  .Header__rightNav {
    z-index: 2;
  }
  
  .Header__categories:hover, .Header__categories li:hover {
    text-decoration: underline;
  }
  
  .Header__categories:hover .Header__subnavWrapper{
    visibility: visible;
  }
  
  .Header__subnavWrapper li {
    padding: 1rem;
  }
  
  .Header__mobileNav {
    margin: 0.5rem 0;
  }
  
  .Header__mobileNav button {
    background: none;
    border: none;
    margin-left: 0.5rem;
    cursor: pointer;
  }
  
  .Header__mobileSubnav {
    margin: 0.5rem 1rem;
  }
  
  .no-list-style {
    list-style: none;
  }
  
  /* MAIN */
  .Header-wrapper + * {
    background: #f7f4e2;
  }
  
  /* BANNER */
  
  .Banner {
    padding: 4rem;
    color: #fff;
    font-family: 'Arapey', serif;
  }
  
  .Banner--large {
    height: 80vh;
  }
  
  .Banner video {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }
  
  .Banner--large .Banner__inner {
    position: relative;
    top: 100%;
    transform: translateY(-100%);
    max-width: 950px;
  }
  
  .Banner__title {
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 1;
  }
  
  .Banner__subtitle {
    margin-bottom: 2rem;
    font-size: 0.85rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  @media (min-width: 1000px) {
    .Banner {
      height: 35vh;
    }
  
    .Banner.Banner--large {
      height: 80vh;
    }
  
    .Banner__title {
      font-size: 4rem;
    }
  
    .Banner__inner {
      position: relative;
      top: 100%;
      transform: translateY(-100%);
      max-width: 950px;
    }
  }
  
  /* SECTION */
  
  .Section {
    padding: 3rem 0;
  }
  
  @media (min-width: 1000px) {
    .Section {
      padding: 6rem 0;
    }
  }
  
  /* CARD */
  
  .Card {
    display: block;
  }
  
  .Card__image {
    height: 350px;
  }
  
  .Card__title {
    padding: 2rem 2rem 1rem;
    color: #b2652d;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
  }
  
  .Card__lead {
    padding: 0 15% 1rem;
    font-size: 2rem;
    line-height: 1.2;
    font-family: 'Arapey', serif;
  }
  
  @media (min-width: 1000px) {
    .Card__image {
      height: 550px;
    }
  }
  
  /* PRODUCT */
  
  .Product {
    display: block;
    padding: 2rem;
    background: #fff;
    position: relative;
  }
  
  .Product__name {
    font-weight: 700;
  }
  
  .Product__price {
    margin: 0.4rem 0 20%;
    color: #c1bdaf;
    font-weight: 500;
  }
  
  .Product__imgContainer {
    height: 20vh;
    margin-bottom: 1rem;
    overflow: hidden;
  }
  
  .Product__img {
    height: 100%;
  }
  
  .Product:hover .Product__img {
    transform: scale(1.1);
    transition: transform 0.2s;
  }
  .Product__discountedPrice {
    text-decoration: line-through;
  }
  
  .Product__sale {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    line-height: 26px;
    background: #c32525;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
  }
  
  .ProductPage__discountedPrice {
    text-decoration: line-through;
  }
  
  .ProductPage__sale {
    margin-bottom: 1rem;
    padding: 10px;
    line-height: 26px;
    background: #c32525;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
  }
  
  /* FOOTER */
  
  .Footer {
    padding: 3rem 0 1rem;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.8;
  }
  
  .Footer .col:first-child > * {
    margin-bottom: 0.5rem;
  }
  
  .Footer .col > * {
    margin-bottom: 1.3rem;
  }
  
  .Footer a {
    display: block;
  }
  
  .Footer__copy {
    padding-top: 3rem;
    opacity: 0.6;
    font-family: 'Arapey', serif;
  }
  
  .Footer__btn {
    margin: 0 1rem;
    display: inline-block !important;
  }
  
  .Footer__btn:hover {
    cursor: pointer;
    color: #000;
  }
  
  .Footer__btn[data-active='true'] {
    text-decoration: underline;
  }
  
  .Footer__flags a {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    display: inline-block;
  }
  
  @media (min-width: 1000px) {
    .Footer {
      padding: 6rem 0 3rem;
    }
  
    .Footer__copy {
      padding-top: 6rem;
    }
  }
  
  /* COMMENT */
  
  .Comment {
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #fbe08f;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  }
  
  .Comment__metadata {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    color: grey;
    font-weight: normal;
  }
  
  .Comment__metadata > div {
    display: inline-block;
    margin-right: 1rem;
  }
  
  /* CATEGORY */
  
  .Category {
    padding-bottom: 6rem;
  }
  
  .Sort {
    padding: 3rem 0;
    text-align: center;
    text-transform: uppercase;
  }
  
  .Sort__type {
    position: relative;
    display: inline-block;
    padding: 1rem 4.5rem 1rem 1.5rem;
    cursor: pointer;
  }
  
  .Sort__type:after {
    content: '';
    width: 50px;
    height: 1px;
    position: absolute;
    background: #2e3e31;
    right: 0;
    top: 46%;
  }
  
  .Sort__type:last-child:after {
    width: 0;
    height: 0;
  }
  
  .Sort__type--reset {
    color: red;
  }
  
  .Sort__type[data-active='true'] {
    text-decoration: underline;
  }
  
  /* PRODUCT */
  
  .ProductPage__image {
    width: 100%;
  }
  
  .ProductPage__image model-viewer {
    width: 100%;
    min-height: 300px;
    padding-top: 1rem;
  }
  
  .ProductPage__imageSwitch > div {
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
  }
  
  .ProductPage__imageSwitch > div.active {
    text-decoration: underline;
  }
  
  .ProductPage__imageSwitch > svg {
    vertical-align: middle;
  }
  
  .ProductPage__imageSwitch > svg:last-child {
    transform: rotate(180deg);
  }
  
  .ProductPage__images {
    height: 100%;
    width: 100%;
  }
  
  .ProductPage__info-wrapper {
    padding: 6rem 0;
    background: #fff;
  }
  
  .ProductPage__name {
    font-size: 3rem;
    font-weight: 600;
  }
  
  .ProductPage__price {
    margin-bottom: 4rem;
    font-size: 1.5rem;
    color: #c1bdaf;
  }
  
  .ProductPage .title {
    padding-bottom: 0;
    color: #be6119;
  }
  
  .ProductPage__description {
    font-size: 2rem;
    font-family: 'Arapey', serif;
    margin-bottom: 2rem;
  }
  
  @media (min-width: 1000px) {
    .ProductPage {
      display: flex;
    }
  
    .ProductPage__images-wrapper,
    .ProductPage__info-wrapper {
      flex-basis: 50%;
      max-width: 50%;
    }
  
    .ProductPage__images,
    .ProductPage__info {
      padding: 6rem;
      max-width: 720px;
    }
  
    .ProductPage__images {
      float: right;
    }
  
    .ProductPage__image {
      width: 100%;
      height: 100%;
      display: flex;
    }
  
    .ProductPage__image img{
      margin: auto;
    }
  
    .ProductPage__image model-viewer {
      width: 100%;
      height: 100%;
    }
  }
  
  /* STORIES */
  
  .Stories__story {
    padding: 0.5rem;
  }
  
  .Stories__storyMeta {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-top: 1px solid #2e3e31;
  }
  
  .Stories__storyAuthor {
    font-weight: bold;
  }
  
  .Stories__storyDate {
    color: #fff;
    font-weight: bold;
  }
  
  .Stories__storyTag {
    color: #b2652d;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
  }
  
  .Stories__storyTitle {
    margin: 2rem 0 1rem;
    font-size: 2rem;
    line-height: 1;
    font-family: 'Arapey', serif;
  }
  
  .Stories__storyLead {
    text-transform: uppercase;
    padding-bottom: 4rem;
  }
  
  .Stories__storyImage {
    height: 260px;
    margin-bottom: 0.5rem;
  }
  
  @media (min-width: 1000px) {
    .Stories {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(22%, 1fr));
      grid-gap: 20px;
    }
  
    .Stories > .Stories__story:nth-child(1) {
      grid-column: span 2;
      grid-row: span 2;
    }
  
    .Stories > .Stories__story:nth-child(1) .Stories__storyImage {
      height: 850px;
    }
  }
  
  /* STORY */
  
  .Story {
    padding: 1rem;
  }
  
  .Story__visual {
    padding: 3rem;
    color: #fff;
    font-family: 'Arapey', serif;
  }
  
  .Story__info {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 1rem 0;
    border-top: 1px solid #2e3e31;
  }
  
  .Story__author {
    font-weight: bold;
  }
  
  .Story__created {
    opacity: 0.4;
  }
  
  .Story__blocks {
    padding-bottom: 6rem;
    font-family: 'Arapey', serif;
    font-size: 1.4rem;
  }
  
  .Story__image {
    text-align: center;
  }
  
  .Story__split {
    display: flex;
    margin-top: 2rem;
    padding: 3rem 0;
    border-top: 1px solid #313c32;
  }
  
  .Story__split > * {
    flex-basis: 50%;
  }
  
  .Story__splitLabel {
    opacity: 0.4;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .Story__splitLabel + div {
    margin-bottom: 2rem;
    font-family: 'Arapey', serif;
    font-size: 1.2rem;
  }
  
  .Story__splitRichText {
    padding-bottom: 6rem;
    font-family: 'Arapey', serif;
    font-size: 1.2rem;
  }
  
  @media (min-width: 1000px) {
    .Story {
      padding: 2rem 0 0;
    }
  
    .Story__visual {
      height: 50vh;
    }
  
    .Story__text {
      margin-left: auto;
      margin-right: 0;
      width: 50%;
    }
  
    .Story__image {
      width: 75%;
      text-align: left;
    }
  }
  
  /* Inspiration */
  
  .Inspiration {
    background-color: #fff;
  }
  
  .Inspiration__list {
    padding: 3rem 0;
  }
  
  .Inspiration__list .Card {
    flex-basis: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
    margin: 1rem;
  }
  
  .Inspiration__list .Card__title {
    font-size: 1.5rem;
    line-height: 1;
    font-family: 'Arapey', serif;
    color: #2e3e31;
    text-align: center;
    text-transform: none;
    font-weight: 100;
    padding-top: 1rem;
  }
  
  @media (min-width: 1000px) {
    .Inspiration__list {
      padding: 6rem 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .Inspiration__list .Card {
      flex-basis: calc(30% - 1rem);
      max-width: calc(30% - 1rem);
      margin: 0.5rem;
    }
  
    .Inspiration__list .Card:nth-child(4n + 0),
    .Inspiration__list .Card:nth-child(4n + 1) {
      flex-basis: calc(55% - 1rem);
      max-width: calc(55% - 1rem);
    }
  }
  
  /* Inspiration Detail */
  
  .InspirationDetail {
    padding-bottom: 8rem;
  }
  
  .InspirationDetail__title {
    padding: 3rem 0;
    font-family: 'Arapey', serif;
    font-size: 3.5rem;
    text-align: center;
  }
  
  .InspirationDetail__text {
    padding: 1rem;
    color: #c1bdaf;
  }
  
  .InspirationDetail__image {
    width: 100%;
    max-width: 100%;
  }
  
  .InspirationDetail__link {
    position: relative;
    display: block;
    padding: 0 1rem;
    max-width: 400px;
  }
  
  .InspirationDetail__linkName {
    font-weight: 600;
  }
  
  .InspirationDetail__linkInfo {
    font-family: 'Arapey', serif;
  }
  
  .InspirationDetail__linkInfo > * {
    margin-bottom: 0.5rem;
  }
  
  .InspirationDetail__linkPrice {
    background: #be6119;
    color: #fff;
    display: inline-block;
    padding: 0 1rem;
    border-radius: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    white-space: nowrap;
  }
  
  .InspirationDetail__linkPrice svg {
    margin-left: 1rem;
    vertical-align: text-top;
    width: 20px;
    height: 15px;
  }
  
  .InspirationDetail .Product {
    display: block !important;
    margin: 1rem;
  }
  
  @media (min-width: 1000px) {
    .InspirationDetail__productLine {
      display: flex;
    }
  
    .InspirationDetail__linkInfo {
      display: flex;
      justify-content: space-between;
    }
  
    .InspirationDetail .Product {
      display: inline-block !important;
      margin: 0.5rem;
      width: calc(25% - 1rem);
    }
  }
  
  /* Attraqt */
  .Attraqt {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .Attraqt__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
    height: 4rem;
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
    cursor: pointer;
  }
  
  .Attraqt__arrow--right {
    right: 0.5rem;
    left: unset;
  }
  
  .Attraqt__items {
    position: relative;
    transition: ease-out left 200ms;
  }
  
  /* SEARCH */
  
  .Search__items {
    padding: 6rem 0;
    text-align: center;
  }
  
  /* CAROUSEL */
  
  .Carousel {
    overflow-y: hidden;
  }
  
  .Carousel--slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  .Carousel--slider::-webkit-scrollbar {
    height: 0.6rem;
  }
  
  .Carousel--slider::-webkit-scrollbar-thumb {
    background: #b2652d;
  }
  
  .Carousel--slider::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .Carousel--slider .Carousel__item {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    overflow: hidden;
  }
  
  /* Poll */
  
  .Poll {
    padding: 4rem 1rem;
  }
  
  .Poll__header {
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid;
  }
  
  .Poll__title {
    padding-bottom: 1rem;
    font-size: 4rem;
    font-family: 'Arapey', serif;
  }
  
  .Poll__description {
    padding-bottom: 1rem;
    text-transform: uppercase;
  }
  
  .Poll__section {
    margin: 2rem 0;
  }
  
  .Poll__sectionTitle {
    padding: 0.5rem 0 0;
    font-weight: bold;
  }
  
  .Poll__question {
    background: #fff;
    margin: 1rem 0;
    padding: 2rem;
  }
  
  .Poll__questionHeader {
    text-align: center;
  }
  
  .Poll__questionQuestion {
    font-size: 2rem;
    font-family: 'Arapey', serif;
    line-height: 1.1;
  }
  
  .Poll__questionText,
  .Poll__questionRadio label,
  .Poll__questionCheckbox label,
  .Poll__questionRange {
    width: 100%;
    margin: 0 auto 0.5rem;
  }
  
  .Poll__questionText {
    margin-top: 2rem;
    border-width: 0 0 1px 0;
    border-color: #ccc;
    font: inherit;
  }
  
  .Poll__questionRadio,
  .Poll__questionCheckbox {
    margin-top: 2rem;
  }
  
  .Poll__questionRadio input,
  .Poll__questionCheckbox input {
    display: none;
  }
  
  .Poll__questionRadio label,
  .Poll__questionCheckbox label {
    display: block;
    padding: 0.5rem;
    border: 1px solid;
    border-radius: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .Poll__questionRadio input:checked + label,
  .Poll__questionCheckbox input:checked + label {
    background: #b3642d;
    color: #fff;
  }
  
  .Poll__questionRange input {
    width: 100%;
  }
  
  .Poll__questionRange input + label {
    display: flex;
    justify-content: space-between;
  }
  
  .Poll button {
    display: block;
    width: 100%;
    padding: 0.7rem 1.5rem 0.5rem;
    margin: 0 auto;
    border-radius: 2rem;
    border-width: 1px;
    border-color: #2e3e31;
    text-transform: uppercase;
    color: #fefcf9;
    background: #2e3e31;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .Poll button:hover {
    background: #fefcf9;
    color: #2e3e31;
  }
  
  @media (min-width: 1000px) {
    .Poll__questionText,
    .Poll__questionRadio label,
    .Poll__questionCheckbox label,
    .Poll__questionRange,
    .Poll button {
      width: 50%;
    }
  }
  
  .Events {
    background-color: rgb(212, 201, 165);
  }
  
  .FileDownload--Container {
    text-align: initial;
    margin: 24px 0;
  }
  
  .FileDownload--Titel {
    margin-bottom: 6px;
  }
  
  .FileDownload--wrapper {
    display: inline-flex;
    flex-direction: column;
  }
  
  .FileDownload--Link {
    text-align: initial;
  }
  
  .FileDownload--Link:hover {
    font-weight: 600;
  }
  
  .FileDownload--Link:hover::before {
    content: '>';
  }
  
  /* Meta Info */
  .Meta-Info-Outer-Container {
    padding: 16px;
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #232323;
    color: #f5f5f5;
  }
  
  .Meta-Info-Inner-Container {
    padding: 16px;
    border: 3px #f5f5f5 dashed;
  }
  
  .Meta-Info-Inner-Container .active {
    color: red;
  }
  
  .Meta-Info-Inner-Container h3 {
    color: #599900;
    font-weight: 700;
    font-size: 1.05rem;
    margin-bottom: 0.5rem;
  }
  
  .Meta-Info-Inner-Container label {
    color: #4b8e9e;
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-right: 0.2rem;
  }
  
  .Meta-Info-Inner-Container button {
    color: #666;
    text-transform: uppercase;
    font-size: 0.875rem;
    position: relative;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    padding: 0.65rem 1.75rem 0.55rem;
    margin-right: 0.2rem;
  }
  
  .text-red {
    color: #9a3332 !important;
  }
  
  .text-orange {
    color: #ff9b05 !important;
  }
  
  .fa {
    margin-right: 4px;
  }
  
  .robots {
    padding-left: 2px;
    padding-right: 2px;
  }
  
  .canonical {
    margin-bottom: 0.5rem;
  }
  .canonical label {
    margin-bottom: 0px !important;
    color: #4b8e9e;
  }
  .canonical ul {
    padding-left: 30px;
    list-style-type: none;
  }
  
  .font-italic {
    font-style: italic;
    color: #6a6a6a;
  }
  
  .text-secondary {
    margin-top: 20px;
  }
  
  .close {
    cursor: pointer;
    position: absolute;
    right: 0.5%;
    padding: 12px 16px;
    transform: translate(0%, -50%);
  }
  
  .metaHide {
    display: none;
  }
  
  .ContactComponent {
    margin: 0 auto;
    padding: 6rem 0;
    max-width: 1000px;
  }
  
  .ContactComponent__info {
    text-align: center;
    padding: 3rem 6rem;
    background: #fff;
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 20%);
  }
  
  .ContactComponent__img {
    width: 8rem;
    height: 8rem;
    margin-top: -7rem;
    border-radius: 100%;
    padding: 0px !important;
  }
  
  .ContactComponent__name {
    margin: 1rem 0 0.7rem;
    font-size: 3rem;
    line-height: 1.2;
    font-family: 'Arapey', serif;
  }
  
  .ContactComponent__title {
    color: #c1bdaf;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .ContactComponent__actions .Btn {
    margin: 1rem 0.2rem 0;
    padding: 1rem 1.7rem 0.7rem;
  }
  
  @media (min-width: 1000px) {
    .ContactComponent__info {
      text-align: left;
    }
  
    .ContactComponent__actions {
      text-align: right;
    }
  }
  
  .ContactPage {
    padding: 4rem 0;
  }
  
  .ContactPage__img {
    max-width: 250px;
    border-radius: 100%;
  }
  
  .ContactPage__contact {
    position: relative;
    margin: 2rem 0;
    padding: 1.5rem 0;
    border: 1px solid #ccc;
    border-width: 1px 0;
  }
  
  .ContactPage__action {
    position: absolute;
    right: 0;
  }
  
  .ContactPage__description {
    font-size: 1.5rem;
    font-family: 'Arapey';
  }
  
  .ContactPage__map {
    margin: 4rem 1rem 0;
    height: 300px;
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 20%);
  }
  
  /* NewsPortal */
  .NewsPortal {
    background-color: #fff;
  }
  
  .NewsPortal__wrapper {
    padding: 3rem;
  }
  
  .NewsPortal__article {
    margin-top: 2rem;
  }
  
  .NewsPortal__articleImage {
    height: 20rem;
    margin-bottom: 0.8rem;
    margin-top: 3rem;
  }
  
  .NewsPortal__articleTitle {
    font-family: 'Arapey', serif;
    margin: 2.5rem 0 1.5rem;
    font-size: 2rem;
    line-height: 1;
  }
  
  .NewsPortal__articleLead {
    text-transform: uppercase;
  }
  
  .NewsPortal__articleDate {
    color: #b9b9b9;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  @media (min-width: 1000px) {
    .NewsPortal__wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      grid-gap: 2rem;
  
      padding-bottom: 6.5rem;
    }
  
    .NewsPortal__articleImage {
      margin-top: 0rem;
    }
  
    .NewsPortal__wrapper > .NewsPortal__article:nth-child(3n + 2) .NewsPortal__articleImage {
      height: 34.5rem;
    }
  
    .NewsPortal__wrapper > .NewsPortal__article:nth-child(3n) .NewsPortal__articleImage {
      height: 31rem;
    }
  }
  
  /* NewsPortal first article */
  .NewsPortal__firstArticle {
    height: 64vh;
    padding: 2rem;
    color: #fff;
    font-family: 'Arapey', serif;
  }
  
  .NewsPortal__articleInner {
    position: relative;
    top: 100%;
    transform: translateY(-100%);
    max-width: 75%;
  }
  
  .NewsPortal__firstArticle .NewsPortal__articleLead {
    margin-bottom: 3rem;
    line-height: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
  }
  
  .NewsPortal__firstArticle .NewsPortal__articleTitle {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    line-height: 3rem;
  }
  
  .NewsPortal__firstArticle .NewsPortal__articleDate {
    font-weight: bold;
    margin-bottom: 0.3rem;
    color: #fff;
  }
  
  @media (min-width: 1000px) {
    .NewsPortal__articleInner {
      max-width: 50%;
    }
  
    .NewsPortal__firstArticle .NewsPortal__articleTitle {
      font-size: 4rem;
      line-height: 4rem;
    }
  
    .NewsPortal__firstArticle {
      padding: 5rem;
    }
  }
  
  /* News */
  .News {
    background-color: #fff;
  }
  
  .News__banner {
    height: 35rem;
    width: 90%;
    margin: auto;
    margin-bottom: 4rem;
  }
  
  .News__info {
    width: 50%;
    margin: auto;
    margin-bottom: 6.5rem;
  }
  
  .News__title {
    font-size: 3rem;
    font-family: 'Arapey', serif;
    margin-bottom: 0.5rem;
  }
  
  .News__subtitle {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
  
  .News__text {
    width: 75%;
    margin: auto;
    font-size: 1.5rem;
    line-height: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  .News__image img {
    padding: 0;
    max-width: 100%;
    max-height: 100%;
  }
  
  .News__imageCaption {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    padding: 1rem;
    max-width: 30%;
    margin: auto;
    text-align: center;
  }
  
  @media (min-width: 1000px) {
    .News {
      padding-top: 5rem;
    }
  
    .News__banner {
      width: 65%;
    }
  
    .News__text {
      width: 50%;
    }
  
    .News__imageWrapper {
      align-items: center;
      margin-top: 5rem;
      margin-bottom: 5rem;
      display: flex;
    }
  
    .News__image {
      max-width: 60%;
      max-height: 60%;
    }
  
    .News__imageWrapper:nth-of-type(2n) {
      flex-direction: row-reverse;
    }
  }
  
  .sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
  }
  /* Marker tweaks */
  .mapboxgl-popup-close-button {
    display: none;
  }
  
  .mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    padding: 0;
    width: 180px;
  }
  
  .mapboxgl-popup-content h3 {
    background: #91c949;
    color: #fff;
    margin: 0;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
  }
  
  .mapboxgl-popup-content h4 {
    margin: 0;
    padding: 10px;
    font-weight: 400;
  }
  
  .marker {
    border: none;
    cursor: pointer;
    height: 28px;
    width: 28px;
    background-size: 28px;
    /* background-image: url(./img/Magnolia_favicon.png); */
  }
  
  /* BackgroundImage */
  .BackgroundImage {
    position: relative;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  .BackgroundImage__spinner {
    position: absolute;
    top: calc(50% - 2rem);
    left: calc(50% - 2rem);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: inset -2px 0 0 2px #be6119;
    animation: rotate 1.5s linear infinite;
  }
  
  
  .Comments__info-wrapper {
    padding-left: 6rem ;
    padding-right: 6rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
    background: #fff;
  }
  
  .Comments__info {
    padding-right: 6rem;
    padding-top: 1rem;
    max-width: 100%;
    width: 70%;
  }
  
  .Comments__textarea{
    width: 80%;
  }
  .comment_body {
    font-size: 1.25rem;
    font-family:"Arapey",serif;
    padding: 10px 0;
  }
  
  .Btn__actions {
    width: 48px;
    height: 13px;
  }
  .Comment{
    font-family:"Arapey",serif;
    font-size: 1.2rem;
  }
  .Comment_form{
    padding-left: 1rem;
  } */
  